<!-- <h1 style="text-align: center; text-transform: capitalize">Hello wassim</h1>

<app-courses></app-courses>
<h2 [textContent]="title"></h2>
<img [src]="urlimage" alt="test img" title="oiseaux" width="500px" />
<br />
<div>
  <input
    name="value"
    [(ngModel)]="value"
    type="text"
    (keyup.space)="Onkeyup()"
  />
  <button
  [ngStyle]="{
    'backgroundColor':isactive ? 'blue' : 'red',
    'color':isactive ? 'black' : 'white',
    'fontWeight':isactive ? 'blod' : 'normal'
  }"

    (click)="Show($event)"
  >
    ajouter
  </button>
</div>

<app-favorite
  [isfavrite]="post.isfavrite"
  (change)="ondivClick($event)"
></app-favorite>
<br />
<br />
<app-panel>
  <div class="heading">Heading</div>
  <ng-container class="body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </ng-container>
</app-panel>

<div>{{task.assignee?.name}}</div>
<input type="text" [appInputFormat]="'lowercase'" > -->

<!-- <contact-form></contact-form> -->
<!-- <signup-form></signup-form>
<new-course-form></new-course-form> -->
<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>
